*
!.gitignore
!README.md
!Update.sh
!.Xmodmap
!.Xresources
!.alias
!.aria2
!.aria2/aria2.conf
!.bash_login
!.bash_profile
!.bashrc
!.config
!.config/
!.config/Trolltech.conf
!.config/feh
!.config/feh/buttons
!.config/feh/keys
!.config/fontconfig
!.config/fontconfig/conf.d
!.config/fontconfig/conf.d/*
!.config/fontconfig/fonts.conf
!.config/gtk-3.0/
!.config/gtk-3.0/gtk.css
!.config/mimeapps.list
!.config/mpv
!.config/mpv/input.conf
!.config/mpv/lua-settings
!.config/mpv/lua-settings/*
!.config/mpv/mpv.conf
!.config/mpv/scripts
!.config/mpv/scripts/*
!.config/ranger
!.config/ranger/rc.conf
!.config/ranger/rfile.conf
!.config/rox.sourceforge.net
!.config/rox.sourceforge.net/SendTo
!.config/rox.sourceforge.net/SendTo/*
!.config/rox.sourceforge.net/SendTo/*/*
!.config/user-dirs.dirs
!.config/user-dirs.locale
!.dir_colors
!.docs
!.docs/*
!.docs/*/*
!.docs/*/*/*
!.docs/*/*/*/*
!.docs/*/*/*/*/*
!.docs/*/*/*/*/*/*
!.docs/*/*/*/*/*/*/*
!.docs/*/*/*/*/*/*/*/*
!.fbtermrc
!.git-prompt.sh
!.gitconfig
!.gtkrc-2.0
!.gtkrc-2.0.mine
!.i3
!.i3/*
!.i3/*/*
!.icons
!.icons/default
!.icons/default/index.theme
!.icons/Numix-Cursor
!.icons/Numix-Cursor/*
!.icons/Numix-Cursor/*/*
!.icons/slitaz-polar
!.icons/slitaz-polar/*
!.icons/slitaz-polar/*/*
!.local
!.local/share
!.local/share/appplications
!.local/share/appplications/feh_browser.desktop
!.ncmpcpp
!.ncmpcpp/bindings
!.ncmpcpp/config
!.pip
!.pip/pip.conf
!.vim
!.vim/autoload
!.vim/autoload/plug.vim
!.vim/plug.vimrc
!.vim/vimrc
!.vimrc
!.xinitrc
!.zshrc
!.zshrc.local
!
